@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard,
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='text'] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

.dashboard-container {
  margin-top: 125px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader-wrapper {
  border-radius: 3px;
  font-size: 30px;
  -webkit-transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
}
.loader {
  border: 0.15em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  -webkit-animation: 1s loader linear infinite;
  animation: 1s loader linear infinite;
  position: relative;
}

.loader-wrapper,
.loader {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.loader:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: -0.15em;
  left: -0.15em;
  border: 0.15em solid currentcolor;
  border-radius: 50%;
  opacity: 0.5;
}

.nav-wrapper ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.nav-wrapper ul {
  margin: 0px;
  padding: 0px;
}

nav::before {
  padding: 0px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.loader_item {
  width: 200px;
  height: 200px;
  margin: 30px;
  flex: 1 1 auto;
}
